body {
    font-family: 'Lato', sans-serif;
}
h1{
    margin-bottom: 40px;
    color: rgb(255, 255, 255);

}
label {
    color: rgb(255, 255, 255);
}
.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

